@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Inter', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: black;
}

#main-section * {
  touch-action: auto !important;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER  */
.header {
  @apply fixed top-0 left-0 w-full h-16 z-50 bg-black transition-all duration-300 ease-in-out py-10;
}

.scrolled {
  @apply bg-white;
}

.header__content {
  @apply flex justify-between items-center w-full h-full lg:px-10 px-10;
}

/* MENU  */
.menu__toggle {
  @apply flex flex-col items-center justify-between w-10 h-6;
}
.menu__toggle * {
  @apply block w-9 bg-white transition-all duration-300 ease-in-out;
  height: 2px;
}
.menu__toggle__item.scrolled {
  @apply !bg-black;
}

.menu__toggle.opened :nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
}
.menu__toggle.opened :nth-child(1) {
  @apply transform rotate-45 translate-y-3;
}
.menu__toggle.opened :nth-child(3) {
  @apply transform -rotate-45 -translate-y-2.5;
}
.menu__container {
  @apply flex h-screen top-20 z-50 w-80 fixed;
  right: -300px;
  background-color: rgba(0, 0, 0, 0.8);
}
.menu__items {
  @apply flex flex-col items-end justify-start w-full px-10 py-10 gap-5;
}
.menu__items a {
  @apply text-3xl font-semibold;
}

/* SCROLL DOWN  */
.scroll-down {
  @apply absolute bottom-10 left-0 w-full h-16 flex flex-col justify-center items-center text-white;
}

/* SERVICES  */
.services {
  @apply flex flex-col items-center justify-around w-screen h-screen text-white absolute;
}
.services__title {
  @apply text-3xl pt-5 text-center;
}

/* SWIPER SLIDE */
.swiper-container {
  @apply flex items-center absolute pl-10 md:w-swiperMd w-swiperLg;

  width: 100vw;
  height: 80vh;
  top: 200vh;
}
.swiper-wrapper {
  @apply !w-auto;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .container__item {
  @apply w-full h-full flex flex-col items-start justify-start;
}
.swiper-slide .container__item .container__item__header {
  @apply flex items-center justify-start w-full gap-5;
}
.swiper-slide .container__item .container__item__header h1 {
  @apply font-bold opacity-50 text-white;
  font-size: 180px;
  letter-spacing: -10px;
}
.swiper-slide .container__item .container__item__header h2 {
  @apply text-4xl font-semibold text-white text-left;
}
.swiper-slide .container__item .container__item__content {
  @apply flex  items-start justify-start w-full gap-5;
}

.swiper-slide .container__item .container__item__content .container_text {
  @apply flex w-2/3 items-start justify-start flex-wrap gap-0 font-light text-white text-left;
  font-size: 14px;
}
.swiper-slide
  .container__item
  .container__item__content
  .container_text
  .wp-block-columns {
  @apply flex items-start justify-start flex-wrap gap-0;
}
.swiper-slide
  .container__item
  .container__item__content
  .container_text
  .wp-block-columns
  .wp-block-column {
  @apply flex flex-col items-start justify-start lg:flex-1 flex-auto pr-4 text-left;
}
.swiper-slide .container__item .container__item__content img {
  @apply w-1/3 lg:flex-1 flex-auto object-cover relative h-96;
  border-top-left-radius: 30px;
}

.swiper-slide .container__item .container__item__content img::after {
  @apply absolute flex top-0 left-0 w-full h-full bg-gradient-to-b from-blue-500 to-blue-900 opacity-50;
  content: '';
}

.swiper-pagination-bullet {
  background-color: white !important;
}

/* ICON SECTION */

.icon_section {
  @apply flex flex-col items-center justify-around w-screen h-screen text-white absolute;
}

.icon_section img {
  @apply md:w-2/3 w-full;
}

.brand_carousel_section {
  @apply flex items-center absolute;
  width: 100vw;
  height: 50vh;
}
.brand_carousel_section .swiper-slide {
  @apply flex items-center justify-center;
}
.brand_carousel_section .swiper-slide img {
  @apply text-center m-0;
}

.industry_section,
.world_section,
.green_section,
.title_section {
  @apply flex flex-col items-start justify-start w-screen h-screen text-white absolute lg:p-36 md:px-10 md:py-36 py-20 px-4 gap-3;
}

.industry_section .svgPath {
  @apply w-1/2 absolute top-1/2 left-10;
}

.industry_section h2,
.world_section h2,
.green_section h2,
.title_section h2 {
  @apply font-bold opacity-50 text-white text-left lg:text-9xl md:text-8xl text-4xl lg:leading-xl leading-tight break-words;
}

/* BUTTON */
.btn {
  --border-width: 2px;
  --border-radius: 22px;
  --color-1: #c62a20;
  --color-2: #0076ff;
}

/* code */

.btn {
  @apply py-4 px-9;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ddd;
  width: auto;
  position: relative;
  background: linear-gradient(to right, var(--color-1), var(--color-2)),
    linear-gradient(to right, var(--color-1), var(--color-2));
  background-position: var(--border-radius) 0, var(--border-radius) 100%;
  background-repeat: no-repeat;
  background-size: calc(100% - var(--border-radius) - var(--border-radius))
    var(--border-width);

  border-radius: var(--border-radius);
  border: none;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  padding: 14px 54px;
}

.btn:before,
.btn:after {
  content: '';
  display: block;
  position: absolute;
  width: calc(var(--border-radius) + 2px);
  top: 0;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}

.btn:before {
  left: 0;
  border: var(--border-width) solid var(--color-1);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-right-color: transparent;
}

.btn:after {
  right: 0;
  border: var(--border-width) solid var(--color-2);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-left-color: transparent;
}

.footer__white .btn {
  color: #333 !important;
}

.services__list {
  @apply flex flex-wrap justify-center items-center w-full;
}
.services__item {
  @apply flex flex-col items-center justify-center w-1/6 h-1/2 relative mb-20 p-0;
}

.services__item span {
  @apply xl:text-8xl text-6xl font-semibold opacity-40 absolute xl:-top-16 lg:-top-4 -top-8 left-10;
}
.services__item .services__item__content {
  @apply h-full flex flex-col items-start justify-start xl:text-sm text-xs font-bold w-2/3 absolute left-10;
}

/* INTERNAL SERVICES */

.internal_services__section,
.internal_certification__section {
  @apply w-screen text-white flex flex-wrap absolute lg:px-40 px-5;
}
.internal_realta__section {
  @apply w-screen flex flex-wrap absolute lg:px-40 px-5 items-center justify-center;
}
.internal_realta__item {
}

.internal_digitaltwin__section {
  @apply w-screen flex flex-wrap absolute lg:px-40 px-5 items-center justify-center;
}

.internal_digitaltwin__item {
  @apply md:my-10 mt-2 mb-32 items-start gap-4;
}

.internal_digitaltwin__item .content {
  @apply md:my-10 mt-2 mb-32 flex md:flex-nowrap flex-wrap md:flex-row flex-col-reverse items-start gap-4;
}
.internal_digitaltwin__item .content img {
  @apply md:w-1/2 w-full object-cover relative;
}

.internal_service__item,
.internal_certification__item {
  @apply md:px-5 relative;
}
.internal_service__item,
.internal_certification__item {
  @apply md:flex-1 flex-auto md:my-10 mt-2 mb-32 flex flex-wrap items-start gap-4;
}
.internal_realta__item {
  @apply md:flex-1 flex-auto md:my-10 mt-2 mb-32 flex flex-wrap items-start gap-4;
}
.internal_service__item .number,
.internal_certification__item .number,
.internal_realta__item .number {
  @apply lg:text-9xl md:text-7xl text-5xl font-semibold opacity-40 md:flex-1 flex-auto;
}
.internal_realta__item .number {
  @apply md:text-right text-left -mt-10 -mr-10;
}

.internal_service__item .content,
.internal_realta__item .content {
  @apply flex flex-col items-start gap-4 md:flex-1 flex-auto relative;
}

.internal_certification__item .content {
  @apply lg:absolute relative md:flex-1 flex-auto lg:left-52 left-0 top-10;
}

.internal_service__item .title,
.internal_certification__item .title,
.internal_realta__item .title,
.internal_digitaltwin__item .title {
  @apply md:text-2xl text-xl font-bold;
}

.internal_service__item img,
.internal_certification__item img,
.internal_realta__item img {
  @apply md:w-full w-2/3 object-cover relative;
  border-top-right-radius: 50px;
}

.internal_service__item img::after,
.internal_certification__item img::after {
  @apply absolute flex top-0 left-0 w-full h-full bg-gradient-to-b from-blue-500 to-blue-900 opacity-50;
  content: '';
}

.internal_service__item .more_detail {
  @apply flex items-center justify-center p-3 m-0 transition-all ease-in-out duration-300 cursor-pointer;
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 100%;
}

.internal_service__item .more_detail:hover {
  background-color: white;
  color: black;
}

.internal_service__item .description__container {
  @apply flex flex-col items-center justify-center w-full h-auto absolute top-0 left-0 opacity-0 transition-all ease-in-out duration-300;
}
.internal_service__item .description {
  @apply p-10 bg-black border-white m-5 rounded-xl absolute top-0 left-0 opacity-0 transition-all ease-in-out duration-300;
  border: 1px solid white;
}
.internal_service__item .description__container .close {
  @apply absolute top-2 right-2 bg-white w-10 h-10 text-black rounded-full flex items-center justify-center cursor-pointer;
  z-index: 1001;
}
.internal_certification__item .description {
  @apply pr-10;
}

/* CONTATTI  */

.form_contact__section {
  @apply flex flex-col items-center justify-center w-screen h-screen text-white absolute;
}

.form_contact__section .form__row {
  @apply flex flex-wrap items-start justify-start w-screen gap-5 lg:px-40 md:px-10 px-4 pt-16;
}

.form_contact__section .form__row .form__row__item {
  @apply md:flex-1 flex-auto relative;
}

.form_contact__section .form__row .form__row__item label {
  @apply text-xs absolute -top-4 left-0;
}

.form_contact__section .form__row .form__row__item input:not([type='submit']),
.form_contact__section .form__row .form__row__item textarea,
.form_contact__section .form__row .form__row__item select {
  @apply w-full h-10 border-white rounded-md px-3 py-6 bg-black;
  border: 1px solid white;
}
.form_contact__section .form__row .form__row__item input[type='file'] {
  padding-top: 10px;
  padding-bottom: 39px;
}

.form_contact__section .form__row .form__row__item textarea {
  @apply h-56;
}

.submitButton {
}

/* NEWS */

.container_no_three {
  @apply py-32 text-white;
}

.container_no_three h1 {
  @apply text-center text-4xl font-bold;
}

.container_no_three .content_posts {
  @apply flex flex-wrap justify-center gap-5 items-center w-3/4 mx-auto relative;
}

.container_no_three .content_posts .post {
  @apply w-full md:w-1/3 my-14;
}
.container_no_three .content_posts .post slug {
  @apply text-xs text-white block mt-2;
}
.container_no_three .content_posts .post img {
  @apply w-full;
  border-top-left-radius: 30%;
}
.container_no_three .content_posts .post h3 {
  @apply font-bold text-lg mt-3 mb-10 text-white;
}

.single_post {
  @apply flex flex-col items-start w-2/3 mx-auto gap-3;
}

.container_no_three .content_posts h2.no_posts {
  @apply text-5xl uppercase mt-14 opacity-40 text-center font-black;
}
/* FOOTER  */

footer {
  @apply absolute left-0 w-screen text-sm;
  height: 50vh;
}

.footer__black {
  @apply bg-black flex  flex-wrap items-center text-white lg:h-footerLg h-footerMd;
}

.footer__white {
  @apply bg-white flex md:h-footerNormal h-footerXl  flex-wrap items-center text-black;
}

.footer__black > div {
  @apply flex flex-col lg:flex-1 md:flex-auto px-10 gap-3 items-start justify-start;
}
.footer__white > div {
  @apply flex flex-col md:flex-1 flex-auto md:py-0 py-2 px-10 gap-0 items-start justify-start;
}

.footer__black .social {
  @apply flex flex-col  gap-10 items-center justify-around h-auto;
}
.footer__black .social div {
  @apply flex flex-wrap items-center justify-around w-full gap-6;
}

.footer__black .social div * {
  @apply flex-1 text-center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
